{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="wrapper" >
	<form action="" method="POST" class="form-login box-shadow">
		{% csrf_token %}
		<h3>Create a Customer</h3>
		<br>
		{{form.as_p}}

		<button class="btn btn-primary" type="sumbit" name="sumbit">Submit</button>
		{% if messages %}
		<ul class="messages" style="color: red">
		    {% for message in messages %}
		    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		    {% endfor %}
		</ul>
		{% endif %}
	</form>
</div>
{% endblock content %}